<section>
  <!-- here we have one-way Angular data binding INTO the component -->
  <h3>My First Angular Project {{title}}</h3>
  <ul>
    <li>ng serve runs a listening server</li>
    <li>Any code changes are shown in the browser on save</li>
    <li>This is a DEVELOPMENT version with debug code</li>
    <li>ng build makes a production version (no debug code)</li>
  </ul>
  <!-- we can use Angular PIPEs to format output -->
  <p>Today is {{datestamp | date}} the price is {{price | currency:'EUR'}}</p>
  <p>One plus two is {{ 1+2 }}</p>
  <hr/>
  <!-- here we may choose to put instance of our components -->
  <app-info></app-info>
  <app-about></app-about>
  <app-products></app-products>
  <hr/>
  <h5>Review Exercise 1</h5>
  <app-login></app-login>
  <app-users></app-users>
  <hr/>
  <app-foot></app-foot>


</section>